language: cpp
sudo: required
env:
  global:
    - OPENBLAS_NUM_THREADS=1
jobs:
  include:
    - name: "GCC 5 Build on Linux xenial"
      os: linux
      dist: xenial
      compiler: gcc
      env:
        - SET_COMPILERS="sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc && sudo ln -s /usr/bin/g++-5 /usr/bin/g++"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-5
            - g++-5
            - gfortran-5
            - libopenblas-dev
            - fftw3-dev
    - name: "GCC 6 Build on Linux xenial"
      os: linux
      dist: xenial
      compiler: gcc
      env:
        - SET_COMPILERS="sudo ln -s /usr/bin/gcc-6 /usr/bin/gcc && sudo ln -s /usr/bin/g++-6 /usr/bin/g++"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-6
            - g++-6
            - gfortran-6
            - libopenblas-dev
            - fftw3-dev
    - name: "GCC 8 Build on Linux xenial"
      os: linux
      dist: xenial
      compiler: gcc
      env:
        - SET_COMPILERS="sudo ln -s /usr/bin/gcc-8 /usr/bin/gcc && sudo ln -s /usr/bin/g++-8 /usr/bin/g++"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-8
            - g++-8
            - gfortran-8
            - libopenblas-dev
            - fftw3-dev
    - name: "GCC 9 Build on Linux xenial"
      os: linux
      dist: xenial
      compiler: gcc
      env:
        - SET_COMPILERS="sudo ln -s /usr/bin/gcc-9 /usr/bin/gcc && sudo ln -s /usr/bin/g++-9 /usr/bin/g++"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-9
            - g++-9
            - gfortran-9
            - libopenblas-dev
            - fftw3-dev

before_install:
    - sudo unlink /usr/bin/gcc && sudo unlink /usr/bin/g++
    - eval ${SET_COMPILERS}
    - which gcc && gcc --version
    - which g++ && g++ --version
    - lscpu

install: true

script:
    - cd ./bin/ && mv -f makefile.dbg makefile
    - make

after_script:
    - ./slabcc -v
    - ldd -v slabcc
